<% content_for :title do %>About<%end %>
<h3>About Suneil </h3>
<p>He is trying to learn Rails because George recommended it. </p>
<p>He was born in London</p>
<p>His favorite quotation is </p>
<p>Memento Mori</p>